* {
  font-family: "Source Sans Pro", sans-serif;
}

html {
  width: 100vw !important;
  height: 100vh !important;
  background-color: rgba(0, 0, 0, 0) !important;
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: hidden;
}

input:invalid {
  border-color: rgb(211, 31, 31);
}

input, input:valid {
  border-color: rgb(27, 24, 24);
}

body {
  background-color: rgba(0, 0, 0, 0);
}

h1 {
  color: #fff;
  font-size: 1.25em;
  padding-left: 2vw;
  text-shadow: 4px 4px 10px #000000;
}

h2 {
  color: #fff;
  font-size: 1.15em;
  padding-left: 2vw;
  text-shadow: 2px 2px 4px #000000;
}

h3 {
  color: #fff;
  font-size: 1.05em;
  padding-left: 2vw;
  text-shadow: 2px 2px 4px #000000;
}

p {
  color: #fff;
  font-size: 0.95em;
  padding-left: 2vw;
  text-shadow: 2px 2px 4px #000000;
}

#Menu {
  color: #fff;
  border: 2px solid rgba(0, 0, 0, 0.25) !important;
  border-radius: 35px !important;
  background-color: rgba(0, 0, 0, 0.75) !important;
  box-shadow: 0px 0px 12px 7px rgba(0, 0, 0, 0.65) !important;
  z-index: 1;
  top: 8.5vh !important;
  bottom: 12.5vh !important;  
  left: 15vw !important;
  right: 15vw !important;
  width: 70vw !important;
  height: 75vh !important;
  white-space: nowrap;
  overflow-y: hidden;
  position: absolute;
}

.maze {
  z-index: 0;
  top: 45vh;
  left:36.75vw;
  width: 25vw;
  height: 12vh;
  opacity: 75%;
  position: absolute !important;
}

.mazelogo {
  z-index: 0;
  top: 19vh;
  left:36.75vw;
  width: 25vw;
  height: 53vh;
  opacity: 18%;
  position: absolute !important;
}

#SelectL {
  border: 3px solid rgba(0, 0, 0, 0.25) !important;
  border-radius: 28px;
  background-color: rgba(0, 0, 0, 0.25) !important;
  box-shadow: 0px 0px 6px 2px gray inset;
  z-index: 2;
  top: 2% !important;
  bottom: 2% !important;  
  left: 1% !important;
  width: 12% !important;
  height: 95% !important;
  white-space: nowrap;
  overflow-y: hidden;
  position: absolute;
}

#SelectR {
  border: 3px solid rgba(0, 0, 0, 0.25) !important;
  border-radius: 28px;
  background-color: rgba(0, 0, 0, 0.25) !important;
  box-shadow: 0px 0px 6px 2px gray inset;
  z-index: 2;
  top: 2% !important;
  bottom: 2% !important;  
  right: 1% !important;
  width: 12% !important;
  height: 95% !important;
  white-space: nowrap;
  overflow-y: hidden;
  position: absolute;
}

#DepositActions {
  border: 3px solid rgba(0, 0, 0, 0.25) !important;
  border-radius: 28px;
  background-color: rgba(0, 0, 0, 0.76) !important;
  box-shadow: 0px 0px 6px 2px gray inset, 0px 0px 6px 2px rgb(0, 0, 0);
  z-index: 15;
  bottom: 1% !important;
  left: 35% !important;  
  right: 35% !important;
  width: 30% !important;
  height: 25% !important;
  white-space: nowrap;
  overflow-y: hidden;
  position: absolute;
}

#Info {
  border: 3px solid rgba(0, 0, 0, 0.25) !important;
  border-radius: 28px;
  background-color: rgba(21, 15, 56, 0.25) !important;
  box-shadow: 0px 0px 20px 0.25px rgba(176, 170, 255, 0.45) inset;
  z-index: 2;
  top: 2% !important;
  bottom: 2% !important;  
  left: 14.5% !important;
  width: 70.5% !important;
  height: 95% !important;
  white-space: nowrap;
  overflow-y: hidden;
  position: absolute;
}

.scanlines {
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: -webkit-linear-gradient(#020 0%, transparent 25%);
  background-image: linear-gradient(to , transparent 25%);
  background-size: 4px 4px;
}

.editor-text {
  color: rgba(60, 232, 255, 0.685);
  font-size: 2em;
  font-weight: 400;
  text-shadow: 1px 0px 6px rgba(36, 138, 255, 0.85), -1px 0px 3px rgba(66, 170, 255, 0.85);
  line-height: 2em;
  margin: 25px;
}

#AccountHeading {
  top: 0vh;
  left: 13vw;
  position: absolute;
}

#AccountNumber {
  top: 10vh;
  left: 3vw;
  position: absolute;
}

#AccountBalance {
  top: 22vh;
  left: 3vw;
  position: absolute;
}

.Selector {
  padding-top: 4.65vh !important;
  padding-bottom: 0.75vh !important;
  padding-left: 1.75vw !important;
}

#ActionRow {

}

a {
  padding-top: 15px !important;
  text-decoration: none !important;
}

a img {
  border: 0px !important;
  margin: 0 !important;
  min-width: 35px;
  max-width: 95px !important;
  width: 6vw;
  min-height: 35;
  max-height: 95px !important;
  height: 11vh;
  border-color: rgba(0, 0, 0, 0) !important;
  border: 0px solid rgba(0, 0, 0, 0.25) !important;
  border-radius: 50% !important;
  background-color: rgba(255, 255, 255, 0.25) !important;
}

a img:hover {
  border: 0px !important;
  margin: 0 !important;
  min-width: 35px;
  max-width: 95px !important;
  width: 6vw;
  min-height: 35;
  max-height: 95px !important;
  height: 11vh;
  border-color: rgba(0, 0, 0, 0) !important;
  border: 0px solid rgba(0, 0, 0, 0.25) !important;
  border-radius: 50% !important;
  background-color: rgba(0, 0, 0, 0.25) !important;
}

/* Useful tooltip hover functions. */

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 100px;
  background-color: black;
  font-size: 12px;
  color: #fff;
  text-align: center;
  padding: 12px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 30;
  top: 16.32vh;
  left: 1.58vw;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}
